// INDEX COMPOSANT START
    // Header START

    .header {
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .header h1{
      font-size: 25px;
    }

    // Header END


    // Footer START
    .footer {
      width: 100%;
      height: 50px;
      border-top: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .footer p {
      margin-right: 5px;
    }

    .footer a {
      font-weight: bold;
    }

    .footer a:hover {
      text-decoration: underline;
    }

    .footer img {
      margin-left: 0.5rem;
    }

    .footer a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // Footer END


    .container {
      min-height: 100vh;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fef5e7a9;
    }
    .main {
      flex: 1 1;
      display: flex;
      width: 100vw;
      height: 85vh;
      position: relative;

      .containerBox {
        width: 50%;
        height: 100%;
        overflow: hidden;
      }
      
      .containerBoxAlt {
        width: 50%;
        background-color: #fef8ef;
        height: 100%;
      }
    }

    .marginAltBottom {
      margin-bottom: 15px;
    }

// INDEX COMPOSANT END



// Timeline Composant START

.ulAlt {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.liAlt {
  height: auto;
  min-height: inherit!important;
}

.monthAlt{
  background-color: black;
  color: white;
  font-size: 1.5vw;
  text-align: center;
  text-transform: uppercase;
}

.paperAlt{
  padding: 6px 16px;  
  margin-bottom: 5px;

    h1{
      font-size: 1.5vh;
      line-height: 1.5;
      cursor: pointer;
    }
}

// Timeline Composant END


// InfoItem START

.boxContainerCard{
  height: 100%;
  display: flex;
  padding-top: 2%;
  flex-direction: column;

    .filtreImput {
      width: 300px;

      .textFieldImput {
        width: 49vw;
        background-color: white!important;

        fieldset {
          width: 20vw;
          border: inherit;

        }
      }
    }

    .containerCard{
      margin: auto;
      width: 345px;

      .textCard {
        height: 30vh;
        overflow: auto;
        
      }
    }

}

// InfoItem END


// A VOIR START

.title a {
  color: #0070f3;
  text-decoration: none;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
// A VOIR END