.container {
  width: 50%;
  margin: 1% .5%;
  padding: 1% 2%;
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
}

.card {
  background-color: white;
  padding: 2% 5%;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: auto;
  border: 2px solid black;
  background-color: #fef5e7a9;
}

.card p{
  text-align: center;
}

.date {
  display:flex;
}

.date p {
  margin-left: 15px;
}

.titleDate {
  display: flex;
  justify-content: space-around;
}

